.liste1{
    background-color:grey;
   color: white;
    font-size: 25px;
   padding: 43px;
   width: 97%;

}



 
a{
    color: black;
    padding: 20px;
    text-decoration: none;
   font-size: 25px;
   
}




.mouma{
  position: relative;
 
  font-size: 50px;
  top: -20px;
 font-family: ("Philosopher");
  text-align: center;
}

#flexbox-ville{
   
   
    gap: 30px;
    position: relative;
    top: 50px;
right: -300px;
}
#ville:hover{
    width: 70%;
    height: 550px;
    transition: 1s;
}

#ville{
    transition: 1s;
    background-size: cover;
    width: 60%;
    height: 500px;
    border: 5px solid black;
    border-radius: px;
    font-size: -100px;
    color: orange;
    text-shadow: 0 0 30px black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Philosopher';
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    
}

.b1{
    background-image:url("https://www.nature-bois-concept.com/boutique/img/cms/Presta_blog/Cuisine%20d-%C3%A9t%C3%A9/cuisine%20ext%20florian%20dussartBLOG.jpeg");
    background-repeat: no-repeat;

  
 
}

.polo{
    font-size: 20px;
    position: relative;
    top:150px;
    right: -1000px;
    padding: 10px;

}


.texte{
    font-size: 20px;
    width: 900px;
    position: relative;
    top: 80px;
    padding: auto;
   right: -300px;
    display:block;
    font-family: "Oswald";
}

.decal{   font-size: 30px;
    position: relative;
    top: -20px;
    right: -200px;
    color: black;}



    .recherche{
        background-color: white;
        border: 1px solid black;
        width: 350px;
        position: absolute;
        top: 50px;
        right: 50px;
        padding: 5px;
       
        border-radius: 10px;
        text-align:start;
    }
    
    
    .encore{
        position: relative;
        right: -10px;
        color: black;
        font-size:15px;
    }